footer {
    position: relative;
    color: #fff;
    padding-top: em(10, 14);
    font-size: em(14, 16);
    overflow: hidden;
    nav{
        width: 100%;
        line-height: 1;
        height: 1em;
        margin: 0 0 em(8, 14) 0;
        a{
            color: #fff;
            padding: 0 5px;
            height: 1em;
            display: inline-block;
            
            &+a{
                border-left: 1px solid #fff;
            }
        }
    }
    .copy{
        line-height: 1;
        height: 1em;
        margin: 0;
    }
}